

  <div class="row">

    <article class="col-xs-12 col-sm-12 col-md-12 col-ls-12 card-component">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 card-header">
          <h1 class="no-margin">{{service.id}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-ls-12">
          <md-progress-bar mode="indeterminate" *ngIf="detailsShown == 'open' && !receipts"></md-progress-bar>
          <md-card>
            <div class="card-button-header">
              <div class="row">
                <!-- ACCIONES -->
                <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 ">
                  <button md-button [mdMenuTriggerFor]="acciones" class="menu-button align-vertical">
                    <md-icon class="align-vertical align-left">more_vert</md-icon> ACCIONES
                  </button>
                  <md-menu #acciones="mdMenu" xPosition="after" yPosition="below" [overlapTrigger]="false" >
                    <button md-menu-item>Realizar reclamo</button>
                  </md-menu>
                  <button md-button [mdMenuTriggerFor]="tramites" class="menu-button align-vertical">
                    <md-icon class="align-vertical align-left">insert_drive_file</md-icon> TRÁMITES
                  </button>
                  <md-menu #tramites="mdMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
                    <button md-menu-item>Dar de baja</button>
                  </md-menu>
                </div>
                <!-- DETALLE -->
                <div class="col-xs-2 col-sm-4 col-md-6 col-lg-6 align-right">
                  <button md-button (click)='showDetails()'><span class="hide-mobile">DETALLE</span>
                    <md-icon *ngIf="detailsShown == 'close'">expand_more</md-icon>
                    <md-icon *ngIf="detailsShown == 'open'">expand_less</md-icon>
                  </button>
                </div>
              </div>
            </div>

            <service-header [service]="service" [showStatus]="showStatus"></service-header>

            <div class="service-detail" [@expandCollapse]="detailsShown" >
                <receipts-history-list [receipts]="receipts" *ngIf="receipts"></receipts-history-list>

                <footer>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-right">
                      <button md-raised-button class="primary-button" [disabled]="!receipts"><md-icon>file_download</md-icon> DESCARGAR TODAS</button>
                    </div>
                  </div>
                </footer>
            </div>

          </md-card>
        </div>

      </div>

    </article>

  </div>
