<action-bar [title]="title" [actions]="actions"></action-bar>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">

          <article class="col-xs-12 col-sm-12 col-md-12 col-ls-12 card-component">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 card-header">
                <h1>Suministros Disponibles</h1>
              </div>
            </div>
            <div class="row">
              <div class="">
                <md-progress-bar mode="indeterminate" *ngIf="!services"></md-progress-bar>
                <md-card>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <h3 class="no-margin">Seleccione de la lista los suministros a adherir a factura digital.</h3>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <invoice-services-list [services]="services" *ngIf="services"></invoice-services-list>
                    </div>
                  </div>
                  <hr>

                  <footer>
                    <div class="row is-table-row-mobile">
                      <div class="col-xs-7 col-sm-8 col-md-10 col-lg-10">
                        <md-checkbox [disableRipple]="true" #termsAndConditions="ngModel" [(ngModel)]="model.termsAndConditions" name="termsAndConditions" color="primary" required><h3 class="no-margin">He leído y acepto los <b><a>términos y condiciones</a></b></h3></md-checkbox>
                      </div>
                      <div class="col-xs-5 col-sm-4 col-md-2 col-lg-2 align-right">
                        <button md-raised-button class="primary-button" [disabled]="noServiceSelected() || !termsAndConditions.value">ADHERIR</button>
                      </div>
                    </div>
                  </footer>

                </md-card>

              </div>
            </div>

          </article>

        </div>
    </div>
  </div>
</div>
