
<div class="row">

    <article class="col-xs-12 col-sm-12 col-md-12 col-ls-12 card-component">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 card-header">
          <h1>Cambiar Contraseña</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-ls-12">
          <!-- <md-progress-bar mode="indeterminate" *ngIf="!services"></md-progress-bar> -->
          <md-card class="change-password-card">
            <div class="row collapse-header">
              <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <h3 class="no-margin">Ingrese su nueva contraseña</h3>
              </div>
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 align-right">
                <button md-button class="collapse-btn" (click)='showOrHide()'>
                  <md-icon *ngIf="collapsed == 'close'">expand_more</md-icon>
                  <md-icon *ngIf="collapsed == 'open'">expand_less</md-icon>
                </button>
              </div>
            </div>

            <form name="change-password-form" #changePasswordForm="ngForm" [@expandCollapse]="collapsed">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <md-input-container>
                    <input mdInput #newPassword="ngModel" [(ngModel)]="model.newPassword" name="newPassword" placeholder="Nueva Contraseña" [type]="newPasswordType" [pattern]="passwordPattern" required />
                    <button md-button mdSuffix type="button" class="show-hide-password align-right" name="showPassword" (click)="toggleShowNewPassword()"><md-icon>remove_red_eye</md-icon></button>
                  </md-input-container>
                  <div *ngIf="!newPassword.pristine && newPassword.errors && newPassword.errors.required" class="error">
                    <small>Ingrese nueva contraseña</small>
                  </div>
                  <div *ngIf="!newPassword.valid && !newPassword.pristine" class="error">
                    <small>Mínimo 8 caracteres, un número y una letra</small>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <md-input-container>
                    <input mdInput #confirmedPassword="ngModel" [(ngModel)]="model.confirmedPassword" name="confirmedPassword" placeholder="Repetir Contraseña" [type]="confirmedPasswordType" required />
                    <button md-button mdSuffix type="button" class="show-hide-password align-right" name="showPassword" (click)="toggleShowConfirmedPassword()"><md-icon>remove_red_eye</md-icon></button>
                  </md-input-container>
                  <div *ngIf="!confirmedPassword.pristine && confirmedPassword.errors && confirmedPassword.errors.required" class="error">
                    <small>Repita la nueva contraseña</small>
                  </div>
                  <div *ngIf="confirmedPassword.dirty && !passwordsMatch()" class="error">
                    <small>Las contraseñas no coinciden</small>
                  </div>
                </div>
              </div>

              <footer>
                <div class="row is-table-row-mobile">
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <small>Ingrese la contraseña actual</small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
                        <md-input-container>
                          <input mdInput #password="ngModel" [(ngModel)]="model.password" name="password" placeholder="Contraseña Actual" [type]="passwordType" required />
                          <button md-button mdSuffix type="button" class="show-hide-password align-right" name="showPassword" (click)="toggleShowPassword()"><md-icon>remove_red_eye</md-icon></button>
                        </md-input-container>
                        <div *ngIf="!password.pristine && password.errors && password.errors.required" class="error">
                          <small>La contraseña es requerida</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 align-right" style="line-height: 68px;">
                    <button md-raised-button type="submit" class="primary-button" [disabled]="changePasswordForm.invalid || !passwordsMatch()">GUARDAR</button>
                  </div>
                </div>
              </footer>

            </form>

          </md-card>

        </div>
      </div>

    </article>

  </div>
